.h1 {
  color: #07578f;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;
}
a { color: #e16817; }
a:hover { color: #aa0000; }
body {
  background: #f3f3f3;
  margin: 0px;
}
body {
  color: #575d60;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
body div {
  color: #575d60;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
input {
  color: #575d60;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
#body {
  background-image: url(/image/bg.png);
  margin: 0 auto;
  overflow: auto;
  padding: 6px 29px;
  width: 400px;
}
#body > div { background-color: #ffffff; }
#body > div .field {
  margin-bottom: 20px;
  text-align: center;
}
#body > div .field label {
  color: #07578f;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;
  cursor: pointer;
}
#body > div .field .checkbox { text-align: left; }
#body > div .field .checkbox input {
  float: left;
  margin: 2px 10px 50px;
}
#body > div .field .text input {
  background-color: #f3f3f3;
  background-image: url(/image/field_off.png);
  border: 0px;
  display: block;
  height: 19px;
  padding: 3px;
  text-align: center;
  width: 394px;
}
#body > div .field .text input:focus { background-image: url(/image/field_on.png); }
#body > div .field .validation { color: #aa0000; }
#body > div .number {
  clear: both;
  line-height: 25px;
  margin-bottom: 7px;
  overflow: auto;
}
#body > div p.last { margin: 0px; }
#body > div .spacer { margin-top: 25px; }
#body > div .submit {
  text-align: right;
  height: 30px;
}
#body > div .submit input {
  background: transparent;
  height: 30px;
  outline: none;
  width: 88px;
}
#bot {
  height: 19px;
  margin-bottom: 20px;
  text-align: center;
}
h1 {
  color: #07578f;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;
}
h2 {
  display: block;
  font-size: 21px;
  font-weight: bold;
  margin: 25px 0px 15px;
  text-align: center;
}
h2 a { color: #ab0000; }
#ribbon {
  background-image: url(/image/ribbon.png);
  height: 128px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 128px;
}
#top {
  height: 120px;
  text-align: center;
}
#top a { outline: none; }
