a {
  color: #E16817;
}

a:hover {
  color: #AA0000;
}

body {
  background: #F3F3F3;
  margin: 0px;
}

body, body div, input {
  color: #777D7F;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#body {
  background-image: url(/image/bg.png);
  margin: 0 auto;
  overflow: auto;
  padding: 6px 25px;
  width: 408px;
  
  > div {
    background-color: #fff;
    
    .field {
      color: #07578F;
      font-size: 16px;
      margin-bottom: 20px;
      text-align: center;

      label {
        cursor: pointer;
      }

      input {
        background-image: url(/image/field_off.png);
        border: 0px;
        display: block;
        height: 19px;
        padding: 3px;
        text-align: center;
        width: 394px;
      }
      
      .validation {
        color: #AA0000;
      }
    }

    .number {
      clear: both;
      line-height: 25px;
      margin-bottom: 7px;
      overflow: auto;
    }
    
    p.last {
      margin: 0px;
    }
    
    .spacer {
      margin-top: 25px;
    }

    .submit {
      float: right;
      height: 30px;

      input {
        background: transparent;
        height: 30px;
        width: 88px;
      }
    }
  }
}

#bot {
  height: 19px;
  margin-bottom: 20px;
  text-align: center;
}

#ribbon {
  background-image: url(/image/ribbon.png);
  height: 128px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 128px;
}

#top {
  height: 120px;
  text-align: center;
}