%form{ :action => '/new', :method => 'post' }
  
  %img{ :style => 'display:none', :src => '/image/field_on.png' }
  %input{ :id => "timezone_offset", :name => "user[timezone_offset]", :type => "hidden" }
  
  = field :savings, "How much do you want to save each month?"
  = field :income, "How much money do you receive each month?"
  = field :bills, "How much do you spend on bills each month?"
  = field :email, "What is your email address?"
  
  .submit
    %input{ :src => '/image/submit.png', :type => 'image' }