.number
  .span-1
    %img{ :src => 'image/1.png' }
  .span-9
    Fill out the form below.

.number
  .span-1
    %img{ :src => 'image/2.png' }
  .span-9
    When you use your credit card or the ATM, send an
    %a{ :href => 'image/screenshot_send.png', :rel => 'facebox' } email
    to
    %a{ :href => "sum@sumapp.com" } sum@sumapp.com
    with the dollar amount.

.number
  .span-1
    %img{ :src => 'image/3.png' }
  .span-9
    Every morning at 5am, you will receive an
    %a{ :href => 'image/screenshot_send.png', :rel => 'facebox' } email
    with budgeting metrics for the day.

.spacer
= partial :form