!!! 1.1
%html
  %head
    %title Sum - Simple Budgeting
    %link{ :href => '/image/favicon.png', :rel => 'shortcut icon', :type => 'image/png' }
    %link{ :href => "/style/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/style/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/style/sum.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    /[if lt IE 8]
      %link{ :href => "/style/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
  %body
    %a{ :href => 'http://github.com/winton/sum' }
      #ribbon
    #top
      %img{ :src => '/image/top.png' }
    #body
      = yield
    #bot
      %img{ :src => '/image/bot.png' }