- if valid?
  %h1 Success!
  %p
    Soon you will receive an email with today's budget.
  %p
    When you spend money, don't forget to email
    %a{ :href => "sum@sumapp.com" } sum@sumapp.com
    with the amount you spent.
  %p.last
    If your budget changes, use the same form at
    %a{ :href => "/" } sumapp.com
    to update your numbers.

- else
  = partial :form